.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.title:hover {
  color: chocolate;
}

.header-center {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-link:hover {
  color: #007bff;
}

.cart-count {
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  margin-left: 5px;
  font-size: 0.8rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-user {
  font-weight: 500;
  color: white;
}

.nav-logout {
  padding: 5px 10px;
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-logout:hover {
  background-color: #ff7875;
}

.profile-wrapper {
  position: relative;
  display: inline-block;
}

.profile-icon {
  font-size: 2rem;
  color: #333;
  position: relative;
  text-decoration: none;
}
.profile-icon:hover {
  font-size: 2rem;
  color: white;
  position: relative;
  text-decoration: none;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;

  position: absolute;
  top: -35px; /* ზემოთ გამოჩნდეს */
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;

  opacity: 0;
  transition: opacity 0.3s;
}

.profile-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.add-product-wrapper {
  position: relative;
  display: inline-block;
}

.add-product-icon {
  font-size: 2rem;
  color: #4caf50;
  position: relative;
  text-decoration: none;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;

  position: absolute;
  top: 35px; /* ზემოთ გამოჩნდეს */
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;

  opacity: 0;
  transition: opacity 0.3s;
}

.add-product-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
