.product-main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 220px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.product-card h4 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #222;
}

.product-card span {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff6347; /* ფერი ფასი */
}

.product-card button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #222;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #ff6347;
}

.description {
  padding: 10px;
}
.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.more-icon {
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
}

.more-icon:hover {
  color: black;
}
