.profile-container {
  width: 450px;
  margin: 50px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 18px;
  text-align: center;
  color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4caf50;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.profile-avatar:hover {
  transform: scale(1.05);
  border-color: #5fdc70;
}

.profile-name {
  font-size: 26px;
  margin-bottom: 8px;
  font-weight: 700;
}

.profile-email {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.8;
}

.my-products-link {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.my-products-link:hover {
  background: #64d166;
  transform: translateY(-2px);
}
